extends _bootstrap5

append styles
    link(href='/stylesheets/style.css' rel='stylesheet')

block body
    include mixins/navbar
    include mixins/icons

    - var active = active || {}
    - var brand = '<i class="bi bi-shop"></i>&nbsp;Recipe Shoppe'

    +navbar(brand)(style='dark' bp='sm')
        +nav_item("/api/recipes", active.recipe)
            +icon_warning('card-heading') Recipe
        +nav_item("/ingredients", active.ingredient)
            +icon_warning('clipboard-heart') Nutrition
        +nav_item("/profile", active.user)
            +icon_warning('person-circle') User
        +nav_item("/api-docs")
            +icon_warning('braces') API
        if user
            +nav_item("/auth/logout")
                if user.image
                    img(src=user.image.url, alt=user.displayName, class='rounded-circle' style='height: 2rem; width: 2rem;')
                else
                    +icon_warning('person-circle')
                | &nbsp;Logout

        +nav_item("/logout")
    main.flex-shrink-0
        .container
            block content

    footer.footer.mt-auto.py-3.bg-dark
        .container
            span.text-light
                | &copy; 2023 John Sudds | BYU-Idaho | CSE 341 |&nbsp;
                a.text-light(href='/privacy') Privacy Policy
