extends _bootstrap5

append styles
    link(href='/stylesheets/style.css' rel='stylesheet')

block body
    include mixins/navbar
    include mixins/icons

    - var active = active || {}
    - var brand = '<i class="bi bi-shop"></i> Recipe Shoppe'

    +navbar(brand)(style='dark' bp='sm')
        +nav_item("/api/recipe", active.recipe) Recipe
        +nav_item("/nutrition", active.nutrition) Nutrition
        +nav_item("/user", active.user) User
    main.flex-shrink-0
        .container
            block content

    footer.footer.mt-auto.py-3.bg-dark
        .container
            span.text-light
                | &copy; 2023 John Sudds | BYU-Idaho | CSE 341 |&nbsp;
                a.text-light(href='/privacy') Privacy Policy

